@font-face {
  font-family: "suisse";
  src: url(/SuisseIntl-Medium.otf);
}

:root {
  --basic-font: "suisse";
  --padding-vert: 16px;
  --padding-horiz: 12px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;
}

a {
  all: unset;
}

*::-webkit-scrollbar {
  display: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #f3f3f3;
}

#cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
  mix-blend-mode: difference;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 3s ease-out, opacity 3s ease-out;
  -o-transition: visibility 3s ease-out, opacity 3s ease-out;
  transition: visibility 3s ease-out, opacity 3s ease-out;
}

#custom-cursor {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 950;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: border-radius 0.4s ease-out, height 0.4s ease-out, width 0.4s ease-out, background-color 0.4s ease-out, opacity 1s ease-out, -webkit-transform 0.3s ease-out;
  transition: border-radius 0.4s ease-out, height 0.4s ease-out, width 0.4s ease-out, background-color 0.4s ease-out, opacity 1s ease-out, -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out, border-radius 0.4s ease-out, height 0.4s ease-out, width 0.4s ease-out, background-color 0.4s ease-out, opacity 1s ease-out;
  transition: transform 0.3s ease-out, border-radius 0.4s ease-out, height 0.4s ease-out, width 0.4s ease-out, background-color 0.4s ease-out, opacity 1s ease-out;
  transition: transform 0.3s ease-out, border-radius 0.4s ease-out, height 0.4s ease-out, width 0.4s ease-out, background-color 0.4s ease-out, opacity 1s ease-out, -webkit-transform 0.3s ease-out;
  visibility: hidden;
}

#custom-pointer {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: border-radius 0.4s ease-out;
  -o-transition: border-radius 0.4s ease-out;
  mix-blend-mode: difference;
}

#custom-cursor.hovering {
  height: 30px;
  width: 30px;
}

#custom-pointer.hovering {
  border-radius: 0%;
}

#custom-cursor.hidden {
  height: 0px;
  width: 0px;
  visibility: hidden;
  opacity: 0;
}

#custom-cursor.visible,
#cursor-container.visible {
  visibility: visible;
  opacity: 1;
}

/* LOADER SECTION */
.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 800;
  display: flex;
  pointer-events: none;
}

.barWhite {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  background-color: white;
  z-index: 5;
}

.bar {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  background-color: #676767;
  z-index: 4;
}

.textScramble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 100dvh;
  overflow: hidden;
  text-align: center;
  font-family: var(--basic-font);
  font-size: 1.15rem;
  mix-blend-mode: difference;
  color: white;
}

.enterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background-color: white;
  position: fixed;
  z-index: 900;
}

button {
  border: none;
  background-color: transparent;
}

/* NAV SECTION */
.navbarContainer {
  position: fixed;
  top: var(--padding-horiz);
  right: var(--padding-vert);
  display: flex;
  flex-direction: column;
  gap: 3px;
  z-index: 100;
  mix-blend-mode: difference;
  text-align: right;
  font-size: 1.15rem;
}

.navItem {
  mix-blend-mode: difference;
  color: white;
}

.reel {
  color: #676767;
}

/* MUSIC SECTION */
.svgControl {
  width: auto;
  height: 11.5px;
  transition: transform 0.25s ease-out;
}

.play,
.pause {
  height: 10.5px;
}

svg,
g,
path {
  cursor: pointer;
}

.clicked {
  transform: scale(0.5);
}

.controls {
  display: flex;
  justify-content: right;
  align-items: center;
  opacity: 0.5;
  padding-top: 4px;
  gap: 22.5px;
}

.progressBarContainer {
  width: 85%;
  height: 2px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-left: auto;
}

.progressBar {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 0.1s ease;
}

.volumeControlContainer {
  margin-top: 10px;
}

.volumeSlider {
  width: 85%;
}

.soundOnContainer {
  margin-top: 1.6rem;
}

/* LOGO SECTION */
.logoContainer {
  position: fixed;
  top: var(--padding-horiz);
  left: var(--padding-vert);
  font-size: 2.5rem;
  font-weight: 800;
  z-index: 100;
  mix-blend-mode: difference;
}

.logo {
  mix-blend-mode: difference;
  color: white;
  width: 100px;
  height: auto;
}

/* FOOTER SECTION */
.timeAndLocationContainer {
  position: fixed;
  display: flex;
  gap: 25px;
  bottom: var(--padding-horiz);
  right: var(--padding-vert);
  mix-blend-mode: difference;
  z-index: 10;
}

.timeText {
  mix-blend-mode: difference;
  color: white;
}

.loadingContainer {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: var(--basic-font);
}

/* PROJECT SECTION */
.prevButton,
.nextButton {
  display: flex;
  width: 30%;
  height: 100%;
}

.middleButton {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 19;
}

.prevButton {
  position: absolute;
  left: 0;
  cursor: url('/previousCursor.png') 14 4, auto;
  z-index: 20;
}

.nextButton {
  position: absolute;
  right: 0;
  cursor: url('/nextCursor.png') 14 4, auto;
  z-index: 20;
}

.projectContainer {
  height: 100dvh;
  width: 100%;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  /* position: relative; */
  overflow: hidden;
}

.projectDetailsContainer {
  position: absolute;
  /* Change to absolute positioning */
  bottom: var(--padding-horiz);
  left: var(--padding-vert);
  display: flex;
  gap: 25px;
  mix-blend-mode: difference;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  /* Add transition property */
}

.projectContainer.fade-out,
.projectDetailsContainer.fade-out {
  opacity: 0;
  /* Fade out details container */
}

.projectText {
  mix-blend-mode: difference;
  color: white;
}

.projectImageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.projectImg {
  height: auto;
  width: 100%;
  object-fit: cover;
  display: block;
}

.videoWrapper,
iframe {
  width: 100%;
  height: 100%;
  container-type: size;
}

.videoWrapper > iframe {
  position: absolute;
  /* keep video centered both vertically and horizontally */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  /* force aspect ratio based on parent container */
  @container (min-aspect-ratio: 16/9) {
    height: 56.25cqw; /* 100*9/16 */
  }

  @container (max-aspect-ratio: 16/9) {
    width: 177.78cqh; /* 100*16/9 */
  }
}

/* ABOUT SECTION */
.aboutContainer {
  height: 100dvh;
  width: 100%;
  background-color: #3C3C3C;
  transition: all 2s ease-out;
}

.aboutContainerMobile {
  display: none;
}

.aboutContainer::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  background-image: url('/about.jpg');
  background-size: cover;
  background-position: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: width 0.25s ease-out, height 0.25s ease-out, opacity 0.25s ease-out;
}

.aboutContainer.expanded::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.aboutBlurb {
  position: absolute;
  top: 20%;
  left: var(--padding-vert);
  width: 58%;
  font-size: 1.35rem;
  color: white;
}

.itemContainer {
  display: flex;
  position: absolute;
  bottom: 30%;
  left: var(--padding-vert);
  gap: 10rem;
}

.itemTitle {
  font-size: 1.45rem;
  margin-bottom: 16px;
  color: white;
}

.itemText {
  font-size: 1.15rem;
  color: #676767;
  padding-bottom: 2px;
}

.awardItem {
  padding-bottom: 28px;
}

.pop {
  color: white;
}

.rightsContainer {
  position: absolute;
  bottom: var(--padding-horiz);
  left: var(--padding-vert);
  font-size: 1rem;
  color: white;
  mix-blend-mode: difference;
}

.siteContainer {
  position: absolute;
  bottom: var(--padding-horiz);
  left: 9%;
  font-size: 0.95rem;
  color: #676767;
  display: flex;
  gap: 35px;
}

.imgContainer {
  position: absolute;
  bottom: 28%;
  right: 0%;
  transition: opacity 0.2s ease-out;
}

.imgContainer.fade-out {
  opacity: 0;
}

.aboutImage {
  width: 450px;
  height: auto;
}

.awardsContainer {
  width: 30%;
}

/* REEL SECTION */
.playReel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
}

/* 3D LOGO */
.glassContainer {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassLogo {
  width: 50%;
  height: 50%;
}

canvas {
  position: relative;
  z-index: 20;
}

/* LOADING BAR SECTION */
.loadingBar {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #f3f3f3;
}

.progress {
  height: 2px;
  color: #000;
}

.percentage {
  font-family: var(--basic-font);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1600px) {
  .aboutBlurb {
    font-size: 1.3rem;
  }

  .itemTitle {
    font-size: 1rem;
  }

  .itemText {
    font-size: 0.95rem;
  }

  .itemContainer {
    gap: 6rem;
    left: 7%;
  }

  .aboutImage {
    width: 250px;
  }

  .imgContainer {
    bottom: 20%;
  }
}

@media screen and (max-width: 700px) {

  :root {
    --padding-vert: 12px;
    --padding-horiz: 8px;
    --mobile-paragraph: 0.8rem;
  }

  #custom-cursor,
  #cursor-container,
  #cursor-pointer {
    display: none;
  }

  /* NAV SECTION */
  .navbarContainer {
    font-size: var(--mobile-paragraph);
  }

  .textScramble {
    font-size: 0.9rem;
    width: 70%;
  }

  .svgControl {
    height: 9px;
  }

  .play,
  .pause {
    height: 7.5px;
  }

  .controls {
    gap: 13.9px;
  }

  .soundOnContainer {
    margin-top: 1rem;
  }

  /* LOGO SECTION */
  .logo {
    width: 80px;
  }

  /* FOOTER SECTION */
  .timeAndLocationContainer {
    font-size: var(--mobile-paragraph);
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 2px;
  }

  .timeAndLocationContainer .timeText:nth-child(1) {
    order: 2;
  }

  .timeAndLocationContainer .timeText:nth-child(2) {
    order: 1;
  }

  /* PROJECT SECTION */
  .projectDetailsContainer {
    font-size: var(--mobile-paragraph);
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;
    width: 45%;
  }

  .projectImg {
    height: 100%;
  }

  /* ABOUT SECTION */
  .aboutContainer {
    display: none;/*HIDE LAPTOP/DESKTOP VERSION*/
  }

  .aboutContainerMobile {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #3C3C3C;
    transition: all 2s ease-out;
  }

  .aboutBlurb {
    font-size: var(--mobile-paragraph);
    position: static;
    padding-left: var(--padding-vert);
    padding-top: 28%;
    width: 63%;
  }

  .imgContainer {
    position: relative;
  }

  .aboutImage {
    width: 200px;
    display: block;
  }

  .itemContainer {
    position: static;
    padding-left: var(--padding-vert);
    padding-top: 16dvw;
    padding-bottom: 5dvw;
    gap: 0;
  }

  .imgContainer {
    width: 54%;
  }

  .itemText {
    font-size: var(--mobile-paragraph);
    padding-bottom: 1px;
  }

  .itemTitle {
    font-size: 0.9rem;
    margin-bottom: 6px;
  }

  .contactContainer,
  .awardsContainer {
    padding-top: 6dvw;
  }

  .awardsContainer {
    width: 90%;
  }

  .awardItem {
    padding-bottom: 15px;
  }

  .siteContainer {
    display: flex;
    flex-direction: column;
    width: 55%;
  }

  .rightsContainer,
  .siteContainer {
    font-size: var(--mobile-paragraph);
    position: static;
    padding-bottom: var(--padding-horiz);
    padding-left: var(--padding-vert);
  }

}