@font-face {
  font-family: "suisse";
  src: url(/SuisseIntl-Medium.otf);
}

:root {
  --basic-font: "suisse";
  --padding-vert: 12px;
  --padding-horiz: 12px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;
}

a {
  all: unset;
}

*::-webkit-scrollbar {
  display: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #f3f3f3;
}

#cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
  mix-blend-mode: difference;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 3s ease-out, opacity 3s ease-out;
  -o-transition: visibility 3s ease-out, opacity 3s ease-out;
  transition: visibility 3s ease-out, opacity 3s ease-out;
}

#custom-cursor {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 950;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: border-radius 0.4s ease-out, height 0.4s ease-out, width 0.4s ease-out, background-color 0.4s ease-out, opacity 1s ease-out, -webkit-transform 0.3s ease-out;
  transition: border-radius 0.4s ease-out, height 0.4s ease-out, width 0.4s ease-out, background-color 0.4s ease-out, opacity 1s ease-out, -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out, border-radius 0.4s ease-out, height 0.4s ease-out, width 0.4s ease-out, background-color 0.4s ease-out, opacity 1s ease-out;
  transition: transform 0.3s ease-out, border-radius 0.4s ease-out, height 0.4s ease-out, width 0.4s ease-out, background-color 0.4s ease-out, opacity 1s ease-out;
  transition: transform 0.3s ease-out, border-radius 0.4s ease-out, height 0.4s ease-out, width 0.4s ease-out, background-color 0.4s ease-out, opacity 1s ease-out, -webkit-transform 0.3s ease-out;
  visibility: hidden;
}

#custom-pointer {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: border-radius 0.4s ease-out, opacity 0.3s ease-out;
  -o-transition: border-radius 0.4s ease-out;
  mix-blend-mode: difference;
  opacity: 1;
}

#custom-cursor.hovering {
  height: 32px;
  width: 32px;
}

#custom-pointer.hovering {
  border-radius: 0%;
}

#custom-pointer.hoveringNav {
  opacity: 0;
}

#custom-cursor.hidden {
  height: 0px;
  width: 0px;
  visibility: hidden;
  opacity: 0;
}

#custom-cursor.visible,
#cursor-container.visible {
  visibility: visible;
  opacity: 1;
}

.link {
  transition: color 0.18s ease-out;
}

.link:hover {
  color: #676767;
}

/* LOADER SECTION */
.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 800;
  display: flex;
  pointer-events: none;
}

.barWhite {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  background-color: white;
  z-index: 5;
}

.bar {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  background-color: #676767;
  z-index: 4;
}

.textScramble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 100dvh;
  overflow: hidden;
  text-align: center;
  font-family: var(--basic-font);
  font-size: 1.15rem;
  mix-blend-mode: difference;
  color: white;
}

.trademark {
  font-size: 0.8rem;
}

.enterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background-color: white;
  position: fixed;
  z-index: 900;
}

button {
  border: none;
  background-color: transparent;
}

/* NAV SECTION */
.navbarContainer {
  position: fixed;
  top: var(--padding-horiz);
  right: var(--padding-vert);
  display: flex;
  flex-direction: column;
  gap: 3px;
  z-index: 100;
  mix-blend-mode: difference;
  text-align: right;
  font-size: 1.15rem;
}

.navbarContainerNoDiff {
  position: fixed;
  top: var(--padding-horiz);
  right: var(--padding-vert);
  display: flex;
  flex-direction: column;
  gap: 3px;
  z-index: 100;
  text-align: right;
  font-size: 1.15rem;
}

.navItem {
  mix-blend-mode: difference;
  color: white;
}

.navItemNoDiff {
  color: white;
}

.reel {
  color: #a4a4a4;
}

.noDifference {
  mix-blend-mode: normal;
  color: #a4a4a4;
}

/* MUSIC SECTION */
.svgControl {
  width: auto;
  height: 11.5px;
  transition: transform 0.25s ease-out;
}

.play,
.pause {
  height: 10.5px;
}

svg,
g,
path {
  cursor: pointer;
}

.logoContainer svg {
  cursor: none;
}

.logo g {
  cursor: none;
}

.logo path {
  cursor: none;
}

.clicked {
  transform: scale(0.5);
}

.controls {
  display: flex;
  justify-content: right;
  align-items: center;
  opacity: 0.5;
  padding-top: 4px;
  gap: 22.5px;
}

.progressBarContainer {
  width: 85%;
  height: 2px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-left: auto;
}

.progressBar {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 0.1s ease;
}

.volumeControlContainer {
  margin-top: 10px;
}

.volumeSlider {
  width: 85%;
}

.soundOnContainer {
  margin-top: 1.6rem;
}

/* LOGO SECTION */
.logoContainer {
  position: fixed;
  top: var(--padding-horiz);
  left: var(--padding-vert);
  z-index: 100;
  mix-blend-mode: difference;
}

.logo {
  mix-blend-mode: difference;
  color: white;
  width: 150px;
  height: auto;
}

.logoNumbers {
  width: 70px;
}

.logoNumbers.numbersHover {
  display: flex;
}

.logoWords.wordsHover {
  display: none;
}

/* FOOTER SECTION */
.timeAndLocationContainer {
  position: fixed;
  display: flex;
  gap: 25px;
  bottom: var(--padding-horiz);
  right: var(--padding-vert);
  mix-blend-mode: difference;
  z-index: 10;
}

.timeText {
  mix-blend-mode: difference;
  color: white;
}

.loadingContainer {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: var(--basic-font);
}

/* PROJECT SECTION */

.prevButton,
.nextButton {
  position: absolute;
  display: flex;
  width: 25%;
  height: 80%;
}

.middleButton {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 19;
}

.prevButton {
  left: 0;
  top: 10%;
  cursor: url('/nextCursor.png') 14.1 6.5, auto;
  z-index: 20;
}

.nextButton {
  right: 0;
  top: 10%;
  cursor: url('/previousCursor.png') 14.1 6.5, auto;
  z-index: 20;
}

.projectContainer {
  height: 100dvh;
  width: 100%;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  /* position: relative; */
  overflow: hidden;
}

.projectContainer.inactive {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}

.projectDetailsContainer {
  position: absolute;
  /* Change to absolute positioning */
  bottom: var(--padding-horiz);
  left: var(--padding-vert);
  display: flex;
  gap: 25px;
  mix-blend-mode: difference;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  /* Add transition property */
}

.projectContainer.fade-out,
.projectDetailsContainer.fade-out {
  opacity: 0;
  /* Fade out details container */
}

.projectText {
  mix-blend-mode: difference;
  color: white;
}

.projectImageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.projectImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.arrowDiv {
  display: none;
}

.videoWrapper,
iframe {
  width: 100%;
  height: 100%;
  container-type: size;
}

.videoWrapper > iframe {
  position: absolute;
  /* keep video centered both vertically and horizontally */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  /* force aspect ratio based on parent container */
  @container (min-aspect-ratio: 16/9) {
    height: 56.25cqw; /* 100*9/16 */
  }

  @container (max-aspect-ratio: 16/9) {
    width: 177.78cqh; /* 100*16/9 */
  }
}

.loadingBarContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 2px;
  background-color: #ccc;
  overflow: hidden;
  z-index: 1000;
}

.loadingBarVideo {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 60%;
   height: 2px;
   background: rgba(0, 0, 0, 0.2);
   border-radius: 15px;
   overflow: hidden;
}

.progressV {
   height: 100%;
   background: rgba(0, 0, 0, 0.1);
}

.progressBarV {
   height: 100%;
   background: #000000;
   text-align: center;
   line-height: 2px;
   color: white;
   white-space: nowrap;
   overflow: hidden;
}

.underVideo {
  position: relative;
  z-index: -2;
}

.loadingGifContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s ease;
}

.loadingGif {
  width: 100px;
  height: auto;
  transition: opacity 0.6s ease;
}

/* ABOUT SECTION */
.aboutContainer {
  height: 100dvh;
  width: 100%;
  background-color: #3C3C3C;
  /* transition: width 2s ease-out, height 2s ease-out, opacity 2s ease-out; */
}

.aboutContainerMobile {
  display: none;
}

.aboutContainer::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  background-image: url('/about.jpg');
  background-size: cover;
  background-position: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: width 0.25s ease-out, height 0.25s ease-out, opacity 0.25s ease-out;
}

.aboutContainer.expanded::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.aboutBlurb {
  position: absolute;
  top: 20%;
  left: var(--padding-vert);
  width: 65%;
  font-size: 1.3rem;
  color: white;
  z-index: 2;
}

.itemContainer {
  display: flex;
  position: absolute;
  bottom: 10%;
  left: var(--padding-vert);
  z-index: 2;
  max-width: 70%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.gridItem1 { grid-area: 1 / 1 / 2 / 2; }
.gridItem2 { grid-area: 1 / 2 / 2 / 3; }
.gridItem3 { grid-area: 2 / 1 / 3 / 2; }
.gridItem4 { grid-area: 2 / 2 / 3 / 3; }
.gridItem5 { grid-area: 1 / 3 / 2 / 4; }
.gridItem6 { grid-area: 2 / 3 / 3 / 4; }

.gridItem2 {
  width: 50%;
}

.right {
  position: relative;
  background-color: pink;
  left: 0;
}

.itemTitle {
  font-size: 1rem;
  margin-bottom: 10px;
  color: white;
}

.itemText {
  font-size: 1rem;
  color: #a4a4a4;
  padding-bottom: 2px;
}

.pop {
  color: white;
}

.rightsContainer {
  position: absolute;
  bottom: var(--padding-horiz);
  left: var(--padding-vert);
  font-size: 1rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 15px;
  width: 52%;
}

.footerGrid1 { grid-area: 1 / 1 / 2 / 2; }
.footerGrid2 { grid-area: 1 / 2 / 2 / 3; }

.siteContainer {
  position: absolute;
  bottom: var(--padding-horiz);
  left: 9%;
  font-size: 1rem;
  color: #a4a4a4;
  display: flex;
  gap: 35px;
}

.imgContainer {
  position: absolute;
  bottom: 28%;
  right: 0%;
  transition: opacity 0.2s ease-out;
}

.imgContainer.fade-out {
  opacity: 0;
}

.aboutImage {
  width: 420px;
  height: auto;
}

.email {
  color: #a4a4a4;
  font-size: 1rem;
}

/* REEL SECTION */
.playReel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
}

.playReelMobile {
  display: none;
}

/* 3D LOGO */
.glassContainer {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassLogo {
  width: 50%;
  height: 100%;
}

Canvas {
  position: relative;
  z-index: 20;
}

/* LOADING BAR SECTION */
.loadingBar {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #f3f3f3;
}

.progress {
  height: 2px;
  color: #000;
}

.percentage {
  font-family: var(--basic-font);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {

  :root {
    --padding-vert: 10px;
    --padding-horiz: 8px;
    --mobile-paragraph: 0.8rem;
  }

  #custom-cursor,
  #cursor-container,
  #cursor-pointer {
    display: none;
  }

  /* NAV SECTION */
  .navbarContainer {
    font-size: var(--mobile-paragraph);
  }

  .navbarContainerNoDiff {
    font-size: var(--mobile-paragraph);
  }

  .textScramble {
    font-size: 0.9rem;
    width: 70%;
  }

  .trademark {
    font-size: 0.6rem;
  }

  .svgControl {
    height: 9px;
  }

  .play,
  .pause {
    height: 7.5px;
  }

  .controls {
    gap: 13.9px;
  }

  .soundOnContainer {
    margin-top: 1rem;
  }

  /* LOGO SECTION */
  .logo {
    width: 105px;
  }

  .logoNumbers {
    width: 40px;
  }

  /* 3D LOGO */
  .glassLogo {
    width: 75%;
    position: absolute;
    top: 3.5%;
  }

  /* FOOTER SECTION */
  .timeAndLocationContainer {
    font-size: var(--mobile-paragraph);
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 2px;
  }

  .timeAndLocationContainer .timeText:nth-child(1) {
    order: 2;
  }

  .timeAndLocationContainer .timeText:nth-child(2) {
    order: 1;
  }

  /* PROJECT SECTION */
  .projectDetailsContainer {
    font-size: var(--mobile-paragraph);
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;
    width: 45%;
  }

  .projectImg {
    height: 100%;
  }

  .nextButton,
  .prevButton {
    mix-blend-mode: difference;
  }

  .arrowDiv {
    display: flex;
    width: 10%;
    height: auto;
  }

  .leftArrowSvg,
  .rightArrowSvg {
    height: 15px;
    opacity: 0.8;
  }

  .leftArrow {
    position: absolute;
    top: 48.5%;
    left: 15px;
  }

  .rightArrow {
    position: absolute;
    top: 48.5%;
    right: 15px;
  }

  .videoWrapper > iframe {
    position: absolute;
    /* keep video centered both vertically and horizontally */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 100%;
    height: 100%;
  
    /* force aspect ratio based on parent container */
    @container (min-aspect-ratio: 9/16) {
      height: 56.3cqw; /* 100*9/16 */
    }
  
    @container (max-aspect-ratio: 9/16) {
      width: 177.8cqh; /* 100*16/9 */
    }
  }

  /* ABOUT SECTION */
  .aboutContainer {
    display: none;/*HIDE LAPTOP/DESKTOP VERSION*/
  }

  .aboutContainerMobile {
    display: block;
    height: 100%;
    width: 100%;
    position: relative; /* Ensure the ::before pseudo-element is positioned relative to this */
    background-color: #3C3C3C;
    transition: all 2s ease-out;
  }
  
  .aboutContainerMobile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Fill the entire width */
    height: 100%; /* Fill the entire height */
    background-image: url('/about.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: width 0.25s ease-out, height 0.25s ease-out, opacity 0.25s ease-out;
  }
  
  .aboutContainerMobile.expanded::before {
    opacity: 1;
  }

  .aboutBlurb {
    font-size: 0.92rem;
    position: relative;
    padding-top: 23%;
    width: 69%;
    z-index: 2;
  }

  .aboutImage {
    width: 200px;
    display: block;
  }

  .itemContainer {
    position: static;
    padding-top: 16dvw;
    padding-bottom: 5dvw;
    padding-left: var(--padding-vert);
    gap: 0;
    max-width: 100%;
  }

  .imgContainer {
    position: absolute;
    height: fit-content;
    top: 35%;
    z-index: 10;
  }

  .contactContainer,
  .capabilitiesContainer {
    max-width: 50%;
  }

  .contactContainer .itemText {
    width: fit-content;
  }

  .awardsContainer {
    max-width: 38%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .creditContainer {
    max-width: 40%;
  }

  .acknowledgeContainer {
    max-width: 48%;
  }

  .items {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .itemText {
    font-size: var(--mobile-paragraph);
    padding-bottom: 1px;
  }

  .itemTitle {
    font-size: var(--mobile-paragraph);
    margin-bottom: 6px;
  }

  .recTitle {
    margin-bottom: 0;
  }

  .creditItem {
    margin-bottom: 10px;
  }

  .email {
    color: #a4a4a4;
    font-size: var(--mobile-paragraph);
  }

  .rightsContainer,
  .siteContainer {
    font-size: var(--mobile-paragraph);
    position: static;
    padding-bottom: var(--padding-horiz);
    padding-left: var(--padding-vert);
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 56%;
  }

  /* REEL PAGE */
  .playReel {
    display: none;
  }

  .playReelMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    gap: 4.2rem;
  }

  .mobileExp {
    color: #a4a4a4;
    opacity: 0.9;
  }

  .turnScreen {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #a4a4a4;
    opacity: 0.9;
  }

  .watchReel {
    display: flex;
  }

  .rightsContainerMobile {
    position: fixed;
    display: flex;
    gap: 25px;
    bottom: var(--padding-horiz);
    left: var(--padding-vert);
    z-index: 1000;
    font-size: var(--mobile-paragraph);
  }

}

/* EXTRA QUERIES FOR PROJECTS */
.projectImgMobile {
  display: none;
}

.projectImgDesktop {
  display: block;
}

@media (max-width: 700px) {
  /* Show the mobile image if it exists */
  .projectImgMobile {
      display: block;
  }

  /* Hide the desktop image only if the mobile image exists */
  .projectImgMobile + .projectImgDesktop {
      display: none;
  }
}